@page "/profile"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@attribute [Authorize]

<h1>Profile</h1>

<table>
    <tr>
        <th>Provider:</th>
        <td>@CurrentUser.Identity.AuthenticationType</td>
    </tr>
    <tr>
        <th>Name:</th>
        <td>@CurrentUser.Identity.Name</td>
    </tr>
    @foreach (var claim in CurrentUser.Claims)
    {
        <tr>
            <th>@claim.Type</th>
            <td>@claim.Value</td>
        </tr>
    }

</table>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    public ClaimsPrincipal CurrentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        CurrentUser = authState.User;
    }
}
