<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2 style="text-align:center">Login with Social Media</h2>

            <a class="btn btn-social btn-block btn-microsoft" href="/.auth/login/aad">
                <i class="fab fa-microsoft"></i> Sign in with Microsoft
            </a>
            <a class="btn btn-social btn-block btn-facebook" href="/.auth/login/facebook">
                <i class="fab fa-facebook"></i> Sign in with Facebook
            </a>
            <a class="btn btn-social btn-block btn-github" href="/.auth/login/github">
                <i class="fab fa-github"></i> Sign in with GitHub
            </a>
            <a class="btn btn-social btn-block btn-google" href="/.auth/login/google">
                <i class="fab fa-google"></i> Sign in with Google
            </a>
            <a class="btn btn-social btn-block btn-twitter" href="/.auth/login/twitter">
                <i class="fab fa-twitter"></i> Sign in with Twitter
            </a>
        </div>
    </div>
</div>